{% if stuff %}
	<li>
	<a href="{% url 'analyze:results' %}">{{ stuff }}</a>
{% else %}
    <p>No polls are available.</p>
{% endif %}

<script type="text/javascript"> 
	// http://stackoverflow.com/questions/298772/django-template-variables-and-javascript
   var a = "{{stuff}}";

   console.log(a);
</script>

<form action="{% url 'analyze:results' %}" method="post">
{% csrf_token %}

<input type="radio" name="choice" id="123" value="test1" />
<label for="choice123">some text</label><br />

<input type="submit" value="Upload" />
</form>